.imagecontainer {
    float: left;
    margin: 5px;
    padding: 7px;
    position: relative;
}

.contenedorlistview {
    width: 250px !important;
}

.imagecontainer:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.imagecontainer .contenedorlistview h3 {
    font-family: sans-serif;
    font-weight: 600;
}

.imagecontainer .contenedorlistview p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.imagecontainer .contenedorlistview a {
    text-decoration: none;
    font-weight: 500;
    color: #3498db;
}
